body {
	margin: 0;
	font-family:Helvetica;
	background-color: lightyellow;
}
#bus {
   width: 250px;
   height: 250px;
}
#container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}